<head th:fragment="common_link">
    
    <title th:text="${title}">Getting Started: Serving Web Content</title>
    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="../css/style.css" type="text/css" media="screen" />
        
        <script type="text/javascript" src="../bootstrap-3.3.7-dist/js/bootstrap.js">
        </script>
        
</head>