<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:substituteby="common/header :: common_link"/>
</head>
<body>

<div>
<link th:substituteby="common/navi :: common_link5"/>
</div>

<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
  <div class="col-xs-3">
	  <div>
	  <link th:substituteby="common/sidebar :: common_link2"/>
	  </div>
  </div>
  
  <div class="col-xs-9">
 
<table class="table table-inverse"> 
<tr th:each="mybasedata : ${mybasedatas}">
  <td><a class="btn btn-default" th:href="@{'/crud/' + ${mybasedata.id}}">edit</a></td>

  <td>
  <a class="btn btn-warning" href="crud/delete/${mybasedata.id}" th:href="@{/crud/delete/{id}(id=${mybasedata.id})}">
  delete
  </a>
  
  </td>
    
  <td th:text="${mybasedata.username}"> memo </td>
  
  <td th:text="${mybasedata.mail}"> memo </td>
  <td th:text="${mybasedata.memo}"> memo </td>
</tr>
</table>


	<p th:text="${values}"></p>
  </div>
</div>

</body>
<footer>
<link th:substituteby="common/footer :: common_link3" />
</footer>
</html>